# BPIC 2012 dataset preparation

In [ ]:
# Skip this cell, at first
import os
os.chdir('../..')
os.getcwd()

In [1]:
import pandas as pd
import numpy as np
from CI_Experiments.config import PROJECT_DIR # if this line results ModuleNotFoundError, then execute the cell above

In [2]:
UNPREPARED_PATH = PROJECT_DIR / 'data/unprepared_process_logs'
BPIC_2012_DATA = UNPREPARED_PATH / 'BPIC2012.csv'
DESTINATION_DATA = PROJECT_DIR / 'data/prepared_process_logs/BPIC2012/activity/activity.csv'

In [3]:
unprepared_data = pd.read_csv(BPIC_2012_DATA, sep=';')
unprepared_data.head()

,AMOUNT_REQ,Case ID,label,Activity,Resource,lifecycle:transition,timesincemidnight,timesincelastevent,timesincecasestart,event_nr,month,weekday,hour,open_cases,Complete Timestamp
0,20000,173688,deviant,A_SUBMITTED-COMPLETE,112.0,COMPLETE,98,0.000000,0.000000,1,10,5,1,1,2011-10-01 01:38:44.546
1,20000,173688,deviant,A_PARTLYSUBMITTED-COMPLETE,112.0,COMPLETE,98,0.005567,0.005567,2,10,5,1,1,2011-10-01 01:38:44.880
2,20000,173688,deviant,A_PREACCEPTED-COMPLETE,112.0,COMPLETE,99,0.883767,0.889333,3,10,5,1,1,2011-10-01 01:39:37.906
3,20000,173688,deviant,W_Completeren aanvraag-SCHEDULE,112.0,SCHEDULE,99,0.016150,0.905483,4,10,5,1,1,2011-10-01 01:39:38.875
4,20000,173688,deviant,W_Completeren aanvraag-START,112.0,START,756,657.126033,658.031517,5,10,5,12,10,2011-10-01 12:36:46.437

In [4]:
unprepared_data.columns

Index(['AMOUNT_REQ', 'Case ID', 'label', 'Activity', 'Resource',
       'lifecycle:transition', 'timesincemidnight', 'timesincelastevent',
       'timesincecasestart', 'event_nr', 'month', 'weekday', 'hour',
       'open_cases', 'Complete Timestamp'],
      dtype='object')

In [5]:
four_columns_for_activity = [
    'Case ID',
    'label',
    'Activity',
    'Complete Timestamp'
]

In [6]:
activity_data = unprepared_data[four_columns_for_activity]
activity_data.head()

   Case ID    label                         Activity       Complete Timestamp
0   173688  deviant             A_SUBMITTED-COMPLETE  2011-10-01 01:38:44.546
1   173688  deviant       A_PARTLYSUBMITTED-COMPLETE  2011-10-01 01:38:44.880
2   173688  deviant           A_PREACCEPTED-COMPLETE  2011-10-01 01:39:37.906
3   173688  deviant  W_Completeren aanvraag-SCHEDULE  2011-10-01 01:39:38.875
4   173688  deviant     W_Completeren aanvraag-START  2011-10-01 12:36:46.437

In [7]:
activity_data['label'] = np.where(activity_data['label'] == 'deviant', 1, 0)
activity_data.head()

/var/folders/2v/0cy8xvx12vl1y6x611k263_w0000gn/T/ipykernel_83844/2959549615.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  activity_data['label'] = np.where(activity_data['label'] == 'deviant', 1, 0)

   Case ID  label                         Activity       Complete Timestamp
0   173688      1             A_SUBMITTED-COMPLETE  2011-10-01 01:38:44.546
1   173688      1       A_PARTLYSUBMITTED-COMPLETE  2011-10-01 01:38:44.880
2   173688      1           A_PREACCEPTED-COMPLETE  2011-10-01 01:39:37.906
3   173688      1  W_Completeren aanvraag-SCHEDULE  2011-10-01 01:39:38.875
4   173688      1     W_Completeren aanvraag-START  2011-10-01 12:36:46.437

In [8]:
activity_data = activity_data.rename(columns={'label': 'Outcome', 'Complete Timestamp': 'Timestamp'})
activity_data.head()

   Case ID  Outcome                         Activity                Timestamp
0   173688        1             A_SUBMITTED-COMPLETE  2011-10-01 01:38:44.546
1   173688        1       A_PARTLYSUBMITTED-COMPLETE  2011-10-01 01:38:44.880
2   173688        1           A_PREACCEPTED-COMPLETE  2011-10-01 01:39:37.906
3   173688        1  W_Completeren aanvraag-SCHEDULE  2011-10-01 01:39:38.875
4   173688        1     W_Completeren aanvraag-START  2011-10-01 12:36:46.437

In [9]:
len(activity_data['Activity'].unique())

36

In [9]:
activity_data.to_csv(DESTINATION_DATA, index=False)