# Sepsis cases dataset preparation

In [ ]:
# Skip this cell, at first
import os
os.chdir('../..')
os.getcwd()

In [1]:
import pandas as pd
import numpy as np
from CI_Experiments.config import PROJECT_DIR # if this line results ModuleNotFoundError, then execute the cell above

In [2]:
UNPREPARED_PATH = PROJECT_DIR / 'data/unprepared_process_logs'
SEPSIS_CASES_DATA = UNPREPARED_PATH / 'sepsis_cases.csv'
DESTINATION_DATA = PROJECT_DIR / 'data/prepared_process_logs/sepsis_cases/activity/activity.csv'

In [3]:
unprepared_data = pd.read_csv(SEPSIS_CASES_DATA, sep=';')
unprepared_data.head()

,Diagnose,DiagnosticArtAstrup,DiagnosticBlood,DiagnosticECG,DiagnosticIC,DiagnosticLacticAcid,DiagnosticLiquor,DiagnosticOther,DiagnosticSputum,DiagnosticUrinaryCulture,...,time:timestamp,timesincemidnight,month,weekday,hour,timesincelastevent,timesincecasestart,event_nr,open_cases,label
0,A,True,True,True,True,True,False,False,False,True,...,2014-10-22 09:15:41,555,10,2,9,0.000000,0.000000,1,81,regular
1,A,True,True,True,True,True,False,False,False,True,...,2014-10-22 09:27:00,567,10,2,9,0.000000,11.316667,2,81,regular
2,A,True,True,True,True,True,False,False,False,True,...,2014-10-22 09:27:00,567,10,2,9,0.000000,11.316667,3,81,regular
3,A,True,True,True,True,True,False,False,False,True,...,2014-10-22 09:27:00,567,10,2,9,11.316667,11.316667,4,81,regular
4,A,True,True,True,True,True,False,False,False,True,...,2014-10-22 09:33:37,573,10,2,9,6.616667,17.933333,5,81,regular

In [4]:
unprepared_data.columns

Index(['Diagnose', 'DiagnosticArtAstrup', 'DiagnosticBlood', 'DiagnosticECG',
       'DiagnosticIC', 'DiagnosticLacticAcid', 'DiagnosticLiquor',
       'DiagnosticOther', 'DiagnosticSputum', 'DiagnosticUrinaryCulture',
       'DiagnosticUrinarySediment', 'DiagnosticXthorax', 'DisfuncOrg',
       'Hypotensie', 'Hypoxie', 'InfectionSuspected', 'Infusion', 'Oligurie',
       'SIRSCritHeartRate', 'SIRSCritLeucos', 'SIRSCritTachypnea',
       'SIRSCritTemperature', 'SIRSCriteria2OrMore', 'Age', 'Case ID',
       'Activity', 'org:group', 'CRP', 'LacticAcid', 'Leucocytes',
       'time:timestamp', 'timesincemidnight', 'month', 'weekday', 'hour',
       'timesincelastevent', 'timesincecasestart', 'event_nr', 'open_cases',
       'label'],
      dtype='object')

In [5]:
four_columns_for_activity = [
    'Case ID',
    'label',
    'Activity',
    'time:timestamp'
]

In [6]:
activity_data = unprepared_data[four_columns_for_activity]
activity_data.head()

  Case ID    label         Activity       time:timestamp
0       A  regular  ER Registration  2014-10-22 09:15:41
1       A  regular       Leucocytes  2014-10-22 09:27:00
2       A  regular              CRP  2014-10-22 09:27:00
3       A  regular       LacticAcid  2014-10-22 09:27:00
4       A  regular        ER Triage  2014-10-22 09:33:37

In [7]:
activity_data['label'] = np.where(activity_data['label'] == 'deviant', 1, 0)
activity_data.head()

/var/folders/2v/0cy8xvx12vl1y6x611k263_w0000gn/T/ipykernel_84670/2959549615.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  activity_data['label'] = np.where(activity_data['label'] == 'deviant', 1, 0)

  Case ID  label         Activity       time:timestamp
0       A      0  ER Registration  2014-10-22 09:15:41
1       A      0       Leucocytes  2014-10-22 09:27:00
2       A      0              CRP  2014-10-22 09:27:00
3       A      0       LacticAcid  2014-10-22 09:27:00
4       A      0        ER Triage  2014-10-22 09:33:37

In [8]:
activity_data = activity_data.rename(columns={'label': 'Outcome', 'time:timestamp': 'Timestamp'})
activity_data.head()

  Case ID  Outcome         Activity            Timestamp
0       A        0  ER Registration  2014-10-22 09:15:41
1       A        0       Leucocytes  2014-10-22 09:27:00
2       A        0              CRP  2014-10-22 09:27:00
3       A        0       LacticAcid  2014-10-22 09:27:00
4       A        0        ER Triage  2014-10-22 09:33:37

In [9]:
len(activity_data['Activity'].unique())

15

In [10]:
np.mean(activity_data.groupby('Case ID').count()['Activity'])

16.77749360613811

In [11]:
activity_data.to_csv(DESTINATION_DATA, index=False)